<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fhb.meeconnect">

    <application
        android:name=".MECHAnect"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SearchDetails"
            android:theme="@style/AppTheme.Fullscreen" ></activity>
        <activity android:name=".Search" />
        <activity android:name=".Settings" />
        <activity
            android:name=".FacultySlider"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".StudentSlider"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".PeopleList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:ignore="ManifestOrder" />

</manifest>